.Rproj.user
.Rhistory
*.RData
.Ruserdata

**/.DS_Store

# Data Files
reproduce_figure5/data/*
!reproduce_figure5/data/README.md

reproduce_figure1/data/*
!reproduce_figure1/data/README.md

*.rds
*.RDS
